@import './bootstrap_custom.scss';
@import '@fortawesome/fontawesome-free';

body {
  padding-top: 36px;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

h1 {
  margin-bottom: 1em;
}

.jumbotron {
  background-image: linear-gradient(to right top, #ff8066, #d15874, #924176, #4c3265, #021f44);
  background-position: center;
  height: 600px;
  width: auto;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: #fff !important;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.container {
  padding-top: 4em;
  max-width: 90%;
}

.container .btn {
  margin: 0.5em;
}

.container-fluid .row {
	display: inline;
	margin-right: auto;
	margin-left: auto;
	float: none;
  padding: 2em;
}

/* Homepage Cards */
.container-fluid .row .text-center .card {
  display: inline-block;
  margin: 3em;
}

/*Errors CSS */
#error_explanation {
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: -30px;
	background-color: #09203fdb;
	box-shadow: 10px 10px 10px 0px #8292b0;
	border: 1px solid #09203fdb;
	border-radius: 10px;
}

/* Sign Up form CSS */
.new_user {
  height: 450px;
  color: #fff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
}

/* SignUp Buttons */
.signup, .login, .reset-pass, .edit-pass, .quiz-form, {
  background-image: linear-gradient(to bottom, #051937, #153456, #255276, #367297, #4893b7);
  color: #fff;
}

.show-quizzes {
  background-image: linear-gradient(to top, #051937, #153456, #255276, #367297, #4893b7);
  color: #fff;
}

.btn-md {
  width: 104px;
}

.signup .col-md-12,
.login .col-md-12,
.reset-pass .col-md-12,
.edit-pass .col-md-12 {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.col-md-8 {
  max-width: 100% !important;
}

/* Footer CSS */
.page-footer {
  background-color: #343a40;
  color: #fff;
}

.media-icons {
  padding-top: 1em;
}

.media-icons a {
  text-decoration: none;
  color: #fff;
}

.media-icons a:hover {
  text-decoration: none;
  color: #FFEFBA;
}

label {
  margin-top: 0;
  margin-bottom: 0;
}

/*  Edit User CSS */
.signup .container {
  width: 40%;
}

.btn-md.update {
  margin-left: 0;
  margin-right: 0;
  width: 30% !important;
}

.actions .btn-md {
  margin: 10px 0 5px 0;
  width: 48%;
  float: none;
}
.edit-user .btn {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.delete-account {
  padding-bottom: 15px;
}

/* Forgot Password in Login Form */
.forgot-pass {
  color: #fff;
  text-decoration: none;
  display: inherit;
  text-align: center;
}

.forgot-pass:hover {
  font-weight: 500;
  color: #FFEFBA;
  text-decoration: none;
}

/* Reset Password Button*/
.actions .btn-md {
  width: 100%;
}

/* Quizzes CSS */
//All quizzes CSS
.show-quizzes.container {
  padding-bottom: 3em;
}

.show-quizzes .card {
  width: 300px;
  height: 350px;
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* New Quiz Button */
.show-quizzes .col-md-8 {
  text-align: center;
}

.show-quizzes .col-md-8 .btn-info {
	color: #fff;
	background-color: #4389ae;
	border-color: #4389ae;
}

.show-quizzes .col-md-8 .btn-info:hover {
	color: #fff;
	background-color: #133153;
	border-color: #133153;
}

/* Select category button when creating new quiz */
.container .btn-category{
  margin: 0 !important;
}

/*Create New Category CSS*/
.category-form,
.categories-list {
  background-image: linear-gradient(to bottom, #051937, #002c45, #003d49, #004d44, #355b3d);
  color: #fff;
}

.category-form .container {
  padding-bottom: 20px;
  width: 60%;
}

input.btn.btn-light.btn-category-new {
  margin: 0 0 0.5em 0;
}

.category-form form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.category-form .container a {
  text-decoration: none;
  color: #fff;
}

/* List all categories card css */
.categories-list .card {
  display: inline-flex;
  margin: 0 auto;
  width: 250px;
  height: 260px;
  margin-bottom: 15px;
}

.card-header a{
  color: #FFEFBA;
  text-decoration: none;
  text-transform: capitalize;
}

/*View Quiz CSS */
.card.bg-light.mb-3 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: inherit;
  }

  .show-quiz .container {
    padding-top: 0;
  }
