<h1 align="center"><% "Category: " + @category.name %></h1>
<div align="center">
    <div class="row">
      <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
    </div>
</div>
<div align="center">
</div>
